<!doctype html>

<head>
    <meta charset="utf-8">
    <title>#{site_name}</title>
    <meta name="description" content="My project">
    <meta name="author" content="Chali">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="images/png" href="images/flaticon.png">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <div class="nav_container">
        <nav>
            <div class="nav_title">
                <img src="/images/logo.svg" alt="Logo" class="logo">
                <h1>#{site_name}</h1>
            </div>
            
            <ul>
                <li>
                    <a href="http://google.fr">A link</a>
                </li>
                <li>
                    <button id="b_logout">#{b_logout}</button>
                </li>
            </ul>
        </nav>
    </div>

    
    <section class="content">
        
    </section>

    <div class="footer_container">
        <footer>
            <div>
                <button id="b_lang_FR" class="flag french">#{b_lang_FR}</button>
                <button id="b_lang_ES" class="flag spanish">#{b_lang_ES}</button>
                <button id="b_lang_EN" class="flag english">#{b_lang_EN}</button>
            </div>
        </footer>
    </div>
    
    
</body>
<script src="js/lang/#{current_lang}.js"></script>
<script src="js/common.js"></script>
<script src="js/index.js"></script>